.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='./index.html') Re BOoT ----
      .nav-collapse.collapse
        ul.nav
          li.active
            a(href='./index.html') Home
          li
            a(href='./extra.html') Extra
          li
            a(href='http://github.com/addyosmani/jquery-ui-bootstrap/issues') Issues
          li
            a(href='http://twitter.com/addyosmani') Contact
br
br
br
br
br
.container  
  .row-fluid
    .span3
      .bs-docs-sidebar
        ul.nav.nav-list.bs-docs-sidenav.affix
          li
            a(href='#about')
              i.icon-book
              | About
          li
            a(href='#button')
              i.icon-repeat
              | Button
          li
            a(href='#slider')
              i.icon-repeat
              | Slider
    .span9
      section#about
        .page-header
          h1 About
          .row-fluid
            .span6
              | !Purpose : arduino control over the Interweb! 
              .alert.alert-info
                span.icon-info-sign
                | This is under dev!!!! 

      section#button
        .page-header
          h1 Button
          .row-fluid
            .span6
              p
                form
                  #radioset
                    input#radio1(type='radio', name='radio')
                    label(for='radio1') Choice 1
                    input#radio2(type='radio', name='radio', checked='checked')
                    label(for='radio2') Choice 2
                    input#radio3(type='radio', name='radio')
                    label(for='radio3') Choice 3
                  #radioset1.radioset
                    input#radio10(type='radio', name='radio0')
                    label(for='radio10') Choice 1
                    input#radio20(type='radio', name='radio0', checked='checked')
                    label(for='radio20') Choice 2
                    input#radio30(type='radio', name='radio0')
                    label(for='radio30') Choice 3
                  #format
                    input#check1(type='checkbox')
                    label(for='check1') B
                    input#check2(type='checkbox')
                    label(for='check2') I
                    input#check3(type='checkbox')
                    label(for='check3') U
              .clearfix
      section#slider
        .page-header
          h1 Slider
          h2 Horizontal Slider
          .row-fluid
            .span6
              #h-slider1
            .span1
              label(for='value_h-slider1')
                | h1:
                input#value_h-slider1(type='text', style='width: 50px; height: 10px;')
          .row-fluid
            .span6
              #h-slider2
            .span1
              label(for='value_h-slider2')
                | h2:
                input#value_h-slider2(type='text', style='width: 50px; height: 10px;')


          h2 Vertical Slider
          .row-fluid
            .span6
              p.ui-state-default.ui-corner-all.ui-helper-clearfix(style='padding: 4px;')
                span.ui-icon.ui-icon-volume-on(style='float: left; margin: -2px 5px 0 0;')
                | Master vertical
              p
                label(for='amount') Vertical:
                input#amount(type='text')
            .span2
              #v-slider(style='height: 200px;')

        .span6
          pre
            ul#socket